@import './styles/mixins.scss';

.app {
    .inner-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@include mobile {
    .app {
        .inner-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}